h3.title{
	text-align: center;
    color: black;
    font-family: "微软雅黑", "黑体";
    font-size: 30px;
}
p.time{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.article_content{
    padding-left: 17px;
    padding-right: 17px;
    letter-spacing: 3px;
    line-height: 1.5mem;
    text-align: justify;
    font-size: 16px;
    color: black;
    font-family: "Times New Roman";

}
p.author{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}