{% extends 'base.html' %}
{% block title %}
技术文章
{% endblock %}
{% block link %}
<link href="/static/css/content.css" rel="stylesheet">
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="con_content">
    <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/index/" target="_blank">网站首页</a>>><a href="/article/" target="_blank">技术文章</a></span></h2>
      <div class="dtxw box">
          <h3 class="title">{{ data.title }}</h3>
          <p class="author">作者：{{ data.author__name }}&nbsp;&nbsp;{{ data.created_date }}</p>
          <div class="article_content">
              {{ data.content | safe}}
          </div>

      </div>
    </div>
  </div>
{% endblock %}