{% extends 'base.html' %}
{% block title %}
个人日记
{% endblock %}
{% block link %}
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/index/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人日记</a></span><b>个人日记</b></h2>
      <div class="dtxw box">
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/diary/{{ data.0.article_id }}.html">{{ data.0.title }}</a></h2>
              <p>{{ content_list.0 }}...</p>
              <span>{{ data.0.created_date }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/images/02.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/diary/{{ data.1.article_id }}.html">{{ data.1.title }}</a></h2>
              <p>{{ content_list.1 }}...</p>
              <span>{{ data.1.created_date }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/images/01.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/diary/{{ data.2.article_id }}.html">{{ data.2.title }}</a></h2>
              <p>{{ content_list.2 }}...</p>
              <span>{{ data.2.created_date }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/images/03.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/diary/{{ data.3.article_id }}.html">{{ data.3.title }}</a></h2>
              <p>{{ content_list.3 }}...</p>
              <span>{{ data.3.created_date }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/images/04.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/diary/{{ data.4.article_id }}.html">{{ data.4.title }}</a></h2>
              <p>{{ content_list.4 }}...</p>
              <span>{{ data.4.created_date }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/images/02.jpg"></a></div>
        </li>
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/diary/{{ data.5.article_id }}.html">{{ data.5.title }}</a></h2>
              <p>{{ content_list.5 }}...</p>
              <span>{{ data.5.created_date }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/images/06.jpg"></a></div>
        </li>
      </div>
      <div class="pagelist">页次：1/{{ num_pages }} 每页6 总数{{ num_pages }}
            <a href="/diary/?page=1">首页</a>
            {% if page.has_previous %}
                <a href="/diary/?page={{ page.previous_page_number }}">上一页</a>
            {% endif %}
            {% if page.has_next %}
                <a href="/diary/?page={{ page.next_page_number }}">下一页</a>
            {% endif %}
          <a href="/diary/?page={{ num_pages }}">尾页</a>
      </div>
    </div>
  </div>
  <div class="blank"></div>
  <!-- container代码 结束 -->
{% endblock %}
  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="http://www.yangqq.com">杨青个人博客</a> 备案号：蜀ICP备00000000号</p>
      </div>
      <div class="f_r textr">
        <p>Design by DanceSmile</p>
      </div>
    </div>
  </footer>
</div>
