{% extends 'base.html' %}
{% block title %}
  首页
{% endblock %}
{% block link %}
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="con_content">
    <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/index/" target="_blank">网站首页</a>>><a href="/leaveword/" target="_blank">给我留言</a></span><b>给我留言</b></h2>
        <div><h1 style="font-size: 100px">这是一个留言界面</h1></div>

    </div>
  </div>
  <div class="blank"></div>
{% endblock %}